*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
       width: 100%;
       min-height: 100vh;
       background: #1c273a;
       position: absolute;
       text-align: center;
       color:#fff;
}
h1{
       text-transform: uppercase;
       letter-spacing: 4px;
       color: wheat;
       margin: 20px 0;
}

.photos{
       width: 100%;
       max-width: 800px;
       height: 200px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 20px auto;
       overflow: hidden;
       border: 2px solid #fff;
       padding: 10px;
       border-radius: 5px;
       animation: scale 0.5s linear;
}

@keyframes scale{
       from{transform: scale(0.5);}
}

.photos img{
       width: 100%;
       display: block;
       max-width: 150;
       height: 100%;
       object-fit: cover;
}

p{
       color: wheat;
}
